# Welcome to Jekyll!
#
# This config file is meant for settings that affect your entire site, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# `jekyll serve`. If you change this file, please restart the server process.

# Theme Settings
# theme                  : "minimal-mistakes-jekyll"
remote_theme           : "mmistakes/minimal-mistakes@4.26.2"
minimal_mistakes_skin  : "default" # "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum", "sunrise"

# Site Settings
locale                   : "en-US"
title                    : "Home"
title_separator          : "-"
name                     : "Negar Khaliliaraghi"
description              : "Name's academic homepage"
url                      : "https://negar-khalili.github.io"
baseurl                  : # the subpath of your site, e.g. "/blog"
repository               : # GitHub username/repo-name e.g. "mmistakes/minimal-mistakes"
teaser                   : # path of fallback teaser image, e.g. "/assets/images/500x300.png"
words_per_minute         : 200

comments:
  provider               : 
  disqus:
    shortname            : 
  discourse:
    server               : 
  facebook:
    appid                :
    num_posts            : 
    colorscheme          : 

staticman:
  allowedFields          : 
  branch                 : 
  commitMessage          : 
  filename               : 
  format                 : 
  moderation             : 
  path                   : 
  requiredFields         : 
  transforms:
    email                : 
  generatedFields:
    date:
      type               : 
      options:
        format           : 

reCaptcha:
  siteKey                :
  secret                 :

atom_feed:
  path                   : 

search                   : 
search_full_content      : 
search_provider          : 

algolia:
  application_id         : 
  index_name             : 
  search_only_api_key    : 
  powered_by             : true

google:
  search_engine_id       : 
  instant_search         : false

# SEO Related
google_site_verification :
bing_site_verification   :
yandex_site_verification :
naver_site_verification  :

# Social Sharing
twitter:
  username               :
facebook:
  username               :
  app_id                 :
  publisher              :
og_image                 : 

# Social Profiles (SEO only)
social:
  type: Person
  name: Negar Khaliliaraghi
  links:
    - "mailto:negar.khaliliaraghi@ifau.uu.se"
    - "https://www.linkedin.com/in/negar-khaliliaraghi-5668a2185"

# Footer icons (visible)
footer:
  links:
    - label: "Email"
      icon: "fas fa-fw fa-envelope"
      url: "mailto:negar.khaliliaraghi@ifau.uu.se"
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://www.linkedin.com/in/negar-khaliliaraghi-5668a2185"

# Analytics
analytics:
  provider               : false
  google:
    tracking_id          :
    anonymize_ip         : 

# Site Author
author:
  name       : "Negar Khaliliaraghi"
  avatar     : "/assets/bio photo.jpg"
  bio        : "Postdoctoral researcher"
  location   : "IFAU - Institutet för arbetsmarknads- och utbildningspolitisk utvärdering, Uppsala"
  employer   :  
  email      : "negar.khaliliaraghi@ifau.uu.se"
  uri        : "https://www.ifau.se/en/About-IFAU/Personnel/Researchers-Research-Officers/negar-khaliliaraghi/"
  linkedin   : "negar-khaliliaraghi-5668a2185"

  # Sidebar icons (visible)
  links:
    - label: "Email"
      icon: "fas fa-fw fa-envelope"
      url: "mailto:negar.khaliliaraghi@ifau.uu.se"
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://www.linkedin.com/in/negar-khaliliaraghi-5668a2185"

# Reading Files
include:
  - .htaccess
  - _pages
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - vendor
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/plugins
  - assets/js/_main.js
  - assets/js/vendor
  - Capfile
  - CHANGELOG
  - config
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - log
  - node_modules
  - package.json
  - Rakefile
  - README
  - tmp
  - /docs
  - /test

keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed

# Outputting
permalink: /:categories/:title/
paginate: 5
paginate_path: /page:num/
timezone: 

# Plugins
plugins:
  - jekyll-remote-theme
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji

whitelist:
  - jekyll-remote-theme
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji

# Archives
category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

# HTML Compression
compress_html:
  clippings: all
  ignore:
    envs: development

# Defaults
defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: false
      comments: false
      share: false
      related: false

# Collections
collections:
  teaching:
    output: true
    permalink: /:collection/:path/
  research:
    output: true
    permalink: /:collection/:path/

# Defaults for collections
defaults:
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true
  - scope:
      path: ""
      type: teaching
    values:
      layout: single-teaching
      author_profile: true
  - scope:
      path: ""
      type: publications
    values:
      layout: single-publication
      author_profile: true
  - scope:
      path: ""
      type: talks
    values:
      layout: single-talk
      author_profile: true
  - scope:
      path: ""
      type: code
    values:
      layout: single-code
      author_profile: true
